.list-group {
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    height: 0px;
    overflow: hidden;
}

.slide-up-down {
    visibility: visible;
    height: 200px;
    opacity: 1;
}

.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.show {
    display: block;
}

.fade-motion {
    visibility: visible;
    opacity: 1;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}